In [35]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [36]:
# Path to the txt file
file_path = './SOBRADINHO_DIARIA_1931_2016.txt'

# Reading file
with open(file_path, 'r') as file:
    lines = file.readlines()

# Creating a DataFrame
df = pd.DataFrame(lines, columns=['Flow'])

# Strip newline characters from the end of each line
df['Flow'] = df['Flow'].str.strip()
df['Flow']=pd.to_numeric(df['Flow'], errors='coerce').fillna(0).astype(int)

print(df)

       Flow
0      5512
1      5543
2      5607
3      5639
4      5703
...     ...
31407  2871
31408  3048
31409  3163
31410  3160
31411  3023

[31412 rows x 1 columns]

In [37]:
#função para fazer o deslocamentos das saídas e entradas
def deslocamento(entradas,saidas,colunas,tabela):
    #cria uma cópia da tabela
    tabela1=tabela.copy()
    #desloca a coluna flow i vezes para trás
    for i in range(1,entradas+1):
        for coluna in colunas:
            tabela1.insert(loc=0, column=coluna+str((entradas-i)+1), value=tabela[coluna].shift(i))
        
    #desloca a coluna flow i vezes para frente
    for i in range(1,saidas):
        tabela1['Saída'+ str(i)]=tabela['Flow'].shift(-1*i)
    return tabela1

In [38]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes
entradas_testes=[15,30,45]
saidas = 12
dataframes = []
colunas = ['Flow']
for entrada in entradas_testes:
    dataframes.append(deslocamento(entrada,saidas,colunas,df).dropna())
dataframes[1]

,Flow1,Flow2,Flow3,Flow4,Flow5,Flow6,Flow7,Flow8,Flow9,Flow10,...,Saída2,Saída3,Saída4,Saída5,Saída6,Saída7,Saída8,Saída9,Saída10,Saída11
30,5512.0,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,...,3641.0,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0
31,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,...,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0
32,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,...,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0
33,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,...,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0
34,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,5322.0,...,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0,4949.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31396,549.0,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,...,1696.0,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0
31397,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,...,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0
31398,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,...,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0
31399,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,...,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0
31400,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,1581.0,...,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0,3023.0

In [39]:
def calcularZeW(tabela):
    z=[]
    for i,vazao in enumerate(df['Flow']):
       z.append((tabela.diff().iloc[i,0]/vazao)*100)
    tabela.insert(loc=0, column='z', value=z)
    tabela.insert(loc=0, column='w', value=df['z'].diff())
calcularZeW(df)

In [40]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes para o arquivo 2
entradas_testes=[15,30,45]
saidas = 12
dataframes2 = []
colunas = ['Flow','z','w']
for entrada in entradas_testes:
    df_res = deslocamento(entrada,saidas+1,colunas,df).dropna()
    df_res.to_csv('arquivo2_'+str(entrada)+'.csv', index=False)

In [42]:
df_teste = pd.read_csv('arquivo2_15.csv')

In [43]:
df_teste

,w1,z1,Flow1,w2,z2,Flow2,w3,z3,Flow3,w4,...,Saída3,Saída4,Saída5,Saída6,Saída7,Saída8,Saída9,Saída10,Saída11,Saída12
0,0.582166,1.141430,5607.0,-0.573954,0.567477,5639.0,0.554740,1.122216,5703.0,-0.012454,...,3755.0,3698.0,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0
1,-0.573954,0.567477,5639.0,0.554740,1.122216,5703.0,-0.012454,1.109762,5767.0,-1.109762,...,3698.0,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0
2,0.554740,1.122216,5703.0,-0.012454,1.109762,5767.0,-1.109762,0.000000,5767.0,0.000000,...,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0,3499.0
3,-0.012454,1.109762,5767.0,-1.109762,0.000000,5767.0,0.000000,0.000000,5767.0,0.000000,...,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0,3499.0,3641.0
4,-1.109762,0.000000,5767.0,0.000000,0.000000,5767.0,0.000000,0.000000,5767.0,-0.557977,...,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0,3499.0,3641.0,3813.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31378,-2.691882,1.862197,1611.0,-1.429565,0.432633,1618.0,0.120532,0.553165,1627.0,-0.491740,...,1696.0,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0
31379,-1.429565,0.432633,1618.0,0.120532,0.553165,1627.0,-0.491740,0.061425,1628.0,2.570154,...,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0
31380,0.120532,0.553165,1627.0,-0.491740,0.061425,1628.0,2.570154,2.631579,1672.0,1.716247,...,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0
31381,-0.491740,0.061425,1628.0,2.570154,2.631579,1672.0,1.716247,4.347826,1748.0,-1.675220,...,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0
31382,2.570154,2.631579,1672.0,1.716247,4.347826,1748.0,-1.675220,2.672606,1796.0,-0.387513,...,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0,3023.0