In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [14]:
# Path to the txt file
file_path = './SOBRADINHO_DIARIA_1931_2016.txt'

# Reading file
with open(file_path, 'r') as file:
    lines = file.readlines()

# Creating a DataFrame
df = pd.DataFrame(lines, columns=['Flow'])

# Strip newline characters from the end of each line
df['Flow'] = df['Flow'].str.strip()
df['Flow']=pd.to_numeric(df['Flow'], errors='coerce').fillna(0).astype(int)

print(df)

       Flow
0      5512
1      5543
2      5607
3      5639
4      5703
...     ...
31407  2871
31408  3048
31409  3163
31410  3160
31411  3023

[31412 rows x 1 columns]

In [39]:
#função para fazer o deslocamentos das saídas e entradas
def deslocamento(entradas,saidas,colunas,tabela):
    #cria uma cópia da tabela
    tabela1=tabela.copy()
    #desloca a coluna flow i vezes para trás
    for i in range(1,entradas+1):
        for coluna in colunas:
            tabela1.insert(loc=0, column=coluna+str((entradas-i)+1), value=tabela[coluna].shift(i))
        
    #desloca a coluna flow i vezes para frente
    for i in range(1,saidas):
        tabela1['Saida'+ str(i)]=tabela['Flow'].shift(-1*i)
    return tabela1

In [40]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes
entradas_testes=[15,30,45]
saidas = 12
dataframes = []
colunas = ['Flow']
for entrada in entradas_testes:
    dataframes.append(deslocamento(entrada,saidas,colunas,df).dropna().round(4))
    dataframes[-1].to_csv('arquivo1_'+str(entrada)+'.csv', index=False, sep = ' ')

In [26]:
def calcularZeW(tabela):
    #cria uma cópia da tabela
    tabela1=tabela.copy()
    z=[]
    for i,vazao in enumerate(tabela['Flow']):
       z.append((tabela1.diff().iloc[i,0]/vazao)*100)
    tabela1.insert(loc=0, column='z', value=z)
    tabela1.insert(loc=0, column='w', value=tabela1['z'].diff())
    return tabela1
df_z_w=calcularZeW(df)

In [41]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes para o arquivo 2
entradas_testes=[15,30,45]
saidas = 12
dataframes2 = []
colunas = ['Flow','z','w']
for entrada in entradas_testes:
    df_res = deslocamento(entrada,saidas,colunas,df_z_w).dropna().round(4)
    df_res.to_csv('arquivo2_'+str(entrada)+'.csv', index=False,sep=' ')

In [42]:
df_teste = pd.read_csv('arquivo2_15.csv',sep=' ')

df_teste

,w1,z1,Flow1,w2,z2,Flow2,w3,z3,Flow3,w4,...,Saida2,Saida3,Saida4,Saida5,Saida6,Saida7,Saida8,Saida9,Saida10,Saida11
0,0.5822,1.1414,5607.0,-0.5740,0.5675,5639.0,0.5547,1.1222,5703.0,-0.0125,...,3871.0,3755.0,3698.0,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0
1,-0.5740,0.5675,5639.0,0.5547,1.1222,5703.0,-0.0125,1.1098,5767.0,-1.1098,...,3755.0,3698.0,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0
2,0.5547,1.1222,5703.0,-0.0125,1.1098,5767.0,-1.1098,0.0000,5767.0,0.0000,...,3698.0,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0
3,-0.0125,1.1098,5767.0,-1.1098,0.0000,5767.0,0.0000,0.0000,5767.0,0.0000,...,3698.0,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0,3499.0
4,-1.1098,0.0000,5767.0,0.0000,0.0000,5767.0,0.0000,0.0000,5767.0,-0.5580,...,3698.0,3641.0,3584.0,3499.0,3415.0,3359.0,3359.0,3359.0,3499.0,3641.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31379,-1.4296,0.4326,1618.0,0.1205,0.5532,1627.0,-0.4917,0.0614,1628.0,2.5702,...,1696.0,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0
31380,0.1205,0.5532,1627.0,-0.4917,0.0614,1628.0,2.5702,2.6316,1672.0,1.7162,...,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0
31381,-0.4917,0.0614,1628.0,2.5702,2.6316,1672.0,1.7162,4.3478,1748.0,-1.6752,...,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0
31382,2.5702,2.6316,1672.0,1.7162,4.3478,1748.0,-1.6752,2.6726,1796.0,-0.3875,...,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0
31383,1.7162,4.3478,1748.0,-1.6752,2.6726,1796.0,-0.3875,2.2851,1838.0,-3.1079,...,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0,3023.0

In [193]:
def bits(valueZ,valueW):
    if valueZ>20 and valueW>0:
        return [1,0,0]
    elif valueZ<-20 and valueW<0:
        return [0,0,1]
    else:
        return [0,1,0]
def calcularDFbits(tabela):
    bits_0a2=tabela.apply(lambda x: bits(x.z,x.w),axis=1)
    df_bits=pd.DataFrame(np.array(bits_0a2.tolist()).reshape(-1,3),columns=['bit0','bit1','bit2'])
    df_bits=pd.concat([df_bits,tabela],axis=1)
    return df_bits.dropna().drop(['z','w'],axis=1)

In [195]:
df_bits=calcularDFbits(df_z_w)

In [196]:
df_bits

       bit0  bit1  bit2  Flow
2         0     1     0  5607
3         0     1     0  5639
4         0     1     0  5703
5         0     1     0  5767
6         0     1     0  5767
...     ...   ...   ...   ...
31407     0     1     0  2871
31408     0     1     0  3048
31409     0     1     0  3163
31410     0     1     0  3160
31411     0     1     0  3023

[31410 rows x 4 columns]