In [21]:
import pandas as pd
import numpy as np

In [80]:
# Path to the txt file
file_path = './SOBRADINHO_DIARIA_1931_2016.txt'

# Reading file
with open(file_path, 'r') as file:
    lines = file.readlines()

# Creating a DataFrame
df = pd.DataFrame(lines, columns=['Flow'])

# Strip newline characters from the end of each line
df['Flow'] = df['Flow'].str.strip()
df['Flow']=pd.to_numeric(df['Flow'], errors='coerce').fillna(0).astype(int)

print(df)

       Flow
0      5512
1      5543
2      5607
3      5639
4      5703
...     ...
31407  2871
31408  3048
31409  3163
31410  3160
31411  3023

[31412 rows x 1 columns]

In [24]:
#função para fazer o deslocamentos das saídas e entradas
def deslocamento(entradas,saidas,tabela):
    #cria uma cópia da tabela
    tabela1=tabela.copy()
    #desloca a coluna flow i vezes para trás
    for i in range(1,entradas+1):
        tabela1.insert(loc=0, column='Entrada'+str((entradas-i)+1), value=tabela['Flow'].shift(i))
    #desloca a coluna flow i vezes para frente
    for i in range(1,saidas):
        tabela1['Flow'+ str(i)]=tabela['Flow'].shift(-1*i)
    return tabela1

In [45]:
df.diff()

        Flow
0        NaN
1       31.0
2       64.0
3       32.0
4       64.0
...      ...
31407  191.0
31408  177.0
31409  115.0
31410   -3.0
31411 -137.0

[31412 rows x 1 columns]

In [25]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes
entradas_testes=[15,30,45]
saidas = 12
dataframes = []
for entrada in entradas_testes:
    dataframes.append(deslocamento(entrada,saidas,df).dropna())
dataframes[1]

,Entrada1,Entrada2,Entrada3,Entrada4,Entrada5,Entrada6,Entrada7,Entrada8,Entrada9,Entrada10,...,Flow2,Flow3,Flow4,Flow5,Flow6,Flow7,Flow8,Flow9,Flow10,Flow11
30,5512,5543,5607,5639,5703,5767,5767,5767,5767,5735,...,3641,3813,4017,4105,4105,4046,3958,3871,3813,3871
31,5543,5607,5639,5703,5767,5767,5767,5767,5735,5671,...,3813,4017,4105,4105,4046,3958,3871,3813,3871,4046
32,5607,5639,5703,5767,5767,5767,5767,5735,5671,5607,...,4017,4105,4105,4046,3958,3871,3813,3871,4046,4402
33,5639,5703,5767,5767,5767,5767,5735,5671,5607,5480,...,4105,4105,4046,3958,3871,3813,3871,4046,4402,4735
34,5703,5767,5767,5767,5767,5735,5671,5607,5480,5322,...,4105,4046,3958,3871,3813,3871,4046,4402,4735,4949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31396,549,567,602,631,708,791,878,972,1079,1188,...,1696,1748,1798,1869,1997,2123,2246,2465,2680,2871
31397,567,602,631,708,791,878,972,1079,1188,1308,...,1748,1798,1869,1997,2123,2246,2465,2680,2871,3048
31398,602,631,708,791,878,972,1079,1188,1308,1402,...,1798,1869,1997,2123,2246,2465,2680,2871,3048,3163
31399,631,708,791,878,972,1079,1188,1308,1402,1509,...,1869,1997,2123,2246,2465,2680,2871,3048,3163,3160
31400,708,791,878,972,1079,1188,1308,1402,1509,1581,...,1997,2123,2246,2465,2680,2871,3048,3163,3160,3023

In [83]:
def calcularZeW(tabela):
    z=[]
    for i,vazao in enumerate(df['Flow']):
       z.append((tabela.diff().iloc[i,0]/vazao)*100)
    tabela.insert(loc=0, column='z', value=z)
    tabela.insert(loc=0, column='w', value=z)
calcularZeW(df)

In [84]:
df

              w         z  Flow
0           NaN       NaN  5512
1      0.559264  0.559264  5543
2      1.141430  1.141430  5607
3      0.567477  0.567477  5639
4      1.122216  1.122216  5703
...         ...       ...   ...
31407  6.652734  6.652734  2871
31408  5.807087  5.807087  3048
31409  3.635789  3.635789  3163
31410 -0.094937 -0.094937  3160
31411 -4.531922 -4.531922  3023

[31412 rows x 3 columns]